*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/misc.xml
app/debug/
app/beta/
app/fabric.properties
keystore.properties
*.jks