/local.properties

# OSX files
.DS_Store

# Android Studio
*.iml
.idea/
.gradle/
build/
gradle.properties

app/app-debug.apk
app/app-release.apk
*.apk
app/release/output.json
app/fabric.properties
app/.scannerwork/
app/sonar-project.properties

app/*.jks
keystore.properties
com.crashlytics.settings.json
session_analytics.tap